$piece_size: 80px;

body {
  margin-top: 30px;
  background-image: url("concrete_seamless.png");
}


.gamelist {
  background-color: white;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 2px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.game_message {
  color: blue;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.moves_record {
  border: 1px solid black;
  background-color: white;
  text-align: center;
  height: 200px;
  overflow-y: scroll
}

#captured {
  border: 1px solid black;
}

.board, td, th {
  border: 1px solid black;
}

.board {
  border-spacing: 0;
  border: 3px grey;
  border-style: outset;
}

td, th {
  height: $piece_size;
  width: $piece_size;
  padding: 0;
  text-align: center;
}

.white_sq {
  background-image: url("whitemarble.gif");
  opacity: 1;
}

.dark_sq {
  background-image: url("blackmarble.gif");
  opacity: 1;
}

.moved_sq {
  background-color: rgb(23, 255, 54);
}

.piece {
  vertical-align: middle;
  text-align: center;
  margin: 0;
  display: inline-block;
}

.piece_image {
  width: 70px;
  height: 70px;
  opacity: 1;
}

.blank {
  width: $piece_size;
  line-height: $piece_size;
  margin: 0;
  border-style: double;
  display: inline-block;
  visibility: hidden;
}
