$piece_size: 80px;

body {
  margin-top: 30px;
}

.moves_record {
  border: 1px solid black;
  text-align: center;
  height: 200px;
  overflow-y: scroll
}

#captured {
  border: 1px solid black;
}

.board, td, th {
  border: 1px solid black;
}

.board {
  border-spacing: 0;
  border: 3px grey;
  border-style: outset;
}

td, th {
  height: $piece_size;
  width: $piece_size;
  padding: 0;
  text-align: center;
}

.white_sq {
  background-image: url("whitemarble.gif");
  opacity: 1;
}

.dark_sq {
  /*background-color: rgb(113, 97, 72);*/
  background-image: url("blackmarble.gif");
  opacity: 1;
}

.moved_sq {
  background-color: rgb(23, 255, 54);
}

.piece {
  vertical-align: middle;
  text-align: center;
  margin: 0;
  display: inline-block;
}

.piece_image {
  width: 70px;
  height: 70px;
  opacity: 1;
}

.blank {
  width: $piece_size;
  line-height: $piece_size;
  margin: 0;
  border-style: double;
  display: inline-block;
  visibility: hidden;
}
